{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "ignorePatterns": ["/dist", "/coverage", "/node_modules", "/.vscode", "/.github"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "unused-imports", "import", "html"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      },
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules"]
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-console": ["warn", { "allow": ["info", "warn", "error", "debug"] }],
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "no-nested-ternary": 0,
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/no-extraneous-dependencies": "off",
    "global-require": "off",
    "react/require-default-props": "off",
    "unused-imports/no-unused-imports": "error",
    "import/no-unresolved": "off",
    "import/no-named-as-default-member": "off",
    "import/default": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
